body {
  background-color: #609732;
}

h1 {
  
  font-family: 'Eczar', serif;
  font-size: 2.5em;
  color: #551800;
}

h2 {
  font-family: 'Gentium Basic', serif;
  font-size: 1.25em;
  color: #6F256F;
}
h2:hover {
  font-family: 'Gentium Basic', serif;
  font-size: 1.25em;
  color: #313049;
}

li {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  color: #370037;
}



  