body {
  background-color: #778899;
}

h1 {
  
  font-family: 'Eczar', serif;
  font-size: 2.5em;
  color: #111130;
}

h2 {
  font-family: 'Gentium Basic', serif;
  font-size: 1.25em;
  color: #2ce1e7;
}

li {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  color: #111130;
}



  